.masonry-grid {
    display: flex;
    margin-left: -1rem; /* gutter offset */
    width: auto;
  }
  .masonry-grid_column {
    padding-left: 1rem; /* gutter */
    background-clip: padding-box;
  }
  